@font-face {
    font-family: 'sinkin_sans_semibold';
    src: url('../fonts/sinkinsans-600semibold-webfont.eot');
    src: url('sinkinsans-600semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-600semibold-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-600semibold-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-600semibold-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-600semibold-webfont.svg#sinkin_sans600_semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans_regular';
    src: url('../fonts/sinkinsans-400regular-webfont.eot');
    src: url('../fonts/sinkinsans-400regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-400regular-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-400regular-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-400regular-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-400regular-webfont.svg#sinkin_sans400_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans_light';
    src: url('../fonts/sinkinsans-300light-webfont.eot');
    src: url('../fonts/sinkinsans-300light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-300light-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-300light-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-300light-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-300light-webfont.svg#sinkin_sans300_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sinkin_sans_thin';
    src: url('../fonts/sinkinsans-100thin-webfont.eot');
    src: url('../fonts/sinkinsans-100thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sinkinsans-100thin-webfont.woff2') format('woff2'),
         url('../fonts/sinkinsans-100thin-webfont.woff') format('woff'),
         url('../fonts/sinkinsans-100thin-webfont.ttf') format('truetype'),
         url('../fonts/sinkinsans-100thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icofonts/icomoon.eot?-xcag0x');
    src:url('../fonts/icofonts/icomoon.eot?#iefix-xcag0x') format('embedded-opentype'),
        url('../fonts/icofonts/icomoon.woff?-xcag0x') format('woff'),
        url('../fonts/icofonts/icomoon.ttf?-xcag0x') format('truetype'),
        url('../fonts/icofonts/icomoon.svg?-xcag0x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a
{
    text-decoration: none;
}
body
{
	font-family: 'sinkin_sans_regular';
	font-size: 16px;
	margin:0;
	padding:0;
	width: 100%;
}
footer
{
    background-color: black;
    border-top: 1px solid #7c7c7c;
    box-shadow: 0px -3px 9px 0px rgba(50, 50, 50, 0.72);
    clear: both;
    height: 3em;
    width: 100%;
}
footer a
{
    color: white;
    text-decoration: none;  
    vertical-align: middle;
}
footer img
{
    margin-right: 1em;
    vertical-align: middle;
    width: 3em;
}
h1
{
    color:#349642;
    font-family: 'exoregular';
    font-size: 1.5em;
    margin: 5.5em 0 0 3em;
    position: absolute;
}
h1 span
{
    color: #344491;
}
header
{
	background-color: #fffcfc;
	border: 1px solid #cccccc;
	height: 19em;
	margin: 0 auto 1.5em auto;
	width: 19em;
}
header #tituloSeccion
{
    color: #747273;
    font-size: 240%;
    font-family: 'sinkin_sans_light';
    font-weight: normal;
    letter-spacing: -2px;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
header img
{
    margin-top: 1.5em;
    width: 90%;
}
nav
{
	background-color: black;
	border-bottom: 1px solid #7c7c7c;
    box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.72);
    margin-bottom: 1.2em;
	width: 100%;
}

nav img#logoHeader
{
    height: 3em;
    margin-top: .3em;
}

nav #menuNav
{
    display:none;
    margin:0;
    padding:0;
}

nav #menuNav li
{
    background-color: black;
    border-top: 1px solid #333;
    list-style: none;
    padding: 1em 0;
    text-align: center;
    z-index: 3;
}

nav #menuNav li a
{
    color:white;
    text-decoration: none;
    transition:all .5s;
}

nav #menuNav li a:hover
{
    color:#888;
}

#ace_dreamweaver
{
    margin: 0 auto;
    opacity:.4;
    transition: all 1s ease;
}

#ace_dreamweaver:hover
{
    opacity:1;
}

#ace_dreamweaver img
{
    width:60%;
}

#descripcion
{
    height: auto;
    padding-bottom: 1.5em;
    text-align: left;
}

#descripcion h3
{
    border-bottom: 1px solid #ccc;
    color: #747273;
    text-transform: uppercase;
    width:90%;
    margin:1em auto .8em auto;
}

#descripcion p
{
    color: #888;
    font-size: .9em;
    margin:0 auto;
    width:90%;

}

#descripcion p#textoPequeno
{
    font-size: .7em;
    margin-top:2em;
}

#introCassaInova
{
    background: url(../img/backintro_cassaInova.jpg);
}

#introCasaMorales
{
    background: url(../img/backintro_casaMorales.jpg);
}

#introCCG
{
    background: url(../img/backintro_ccg.jpg);
}

#introDraGurrola
{
    background: url(../img/backintro_dra_gurrola.jpg);
}

#introdigitalPlus
{
    background: url(../img/backintro_digitalPlus.jpg);
}

#introFujifilm
{
    background: url(../img/backintro_fuji.jpg);
}

#introHighPreformanceStates
{
    background: url(../img/backintro_highPreformanceStates.jpg);
}

#introGepp
{
    background: url(../img/backintro_gepp.jpg);
}

#introiShow
{
    background: url(../img/backintro_ishow.jpg);
}

#introSanborns
{
    background: url(../img/backintro_sanborns.jpg);
}

#introCCG, #introCasaMorales, #introCassaInova, #introdigitalPlus, #introDraGurrola, #introFujifilm, #introGepp, #introHighPreformanceStates, #introiShow, #introSanborns,#introDraGurrola
{
    background-size: 105%;
}

#menuExpand
{
    cursor: pointer;
    float:right;
    height: 3em;
    margin-top:.3em;
}

#title_index
{
    display: block;
    margin-top: 1em;
    width:100%;
}

#tituloProyecto
{
    border-bottom: 1px solid #ccc;
    color: #747273;
    font-family: 'sinkin_sans_light';
    font-size: 3.5em;
    margin: .6em auto;
    text-align: center;
    text-transform: uppercase;
}

.center
{
    margin:0 auto;
    text-align: center;
    width:90%;
}

.circuloGris, .circuloVerde
{
    border: 1px solid #7f7f7f;
    border-radius: 50%;
    display:inline-block;
    height: 1em;
    width:1em;
}

.circuloVerde
{
    background: #008039;
}

.eduCuadro
{
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    height: 19em;
    width: 19em;
}

.expCuadro
{
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    height: 15em;
    width: 19em;
}

.expCuadro h3, .habCuadro h3, .perfilDatos h3
{
    font-family: 'sinkin_sans_light';
    border-bottom: 1px solid #ccc;
    color: #747273;
    font-weight: normal;
    font-size: 1.5em;
    letter-spacing: -1px;
    margin: .5em auto;
    text-transform: uppercase;
    width: 94%;
}

.eduCuadro h4, .expCuadro h4, .habCuadro h4
{
    color: #747273;
    font-family: 'sinkin_sans_light';
    font-size: 1.2em;
    margin:.5em auto;
    width:90%;
}

.expDescrip
{
    color: #888;
    font-size: .9em;
    margin: 0 auto;
    width: 90%;
}

.expFecha
{
    color:#999;
    font-family: 'sinkin_sans_thin';
    margin:0 0;
}

.expTitulo
{
    border-bottom: 1px solid #ccc;
    color: #747273;
    font-family: 'sinkin_sans_light';
    font-size: 2.5em;
    height: 2em;
    margin: .4em auto;
    text-align: center;
    text-transform: uppercase;
    width:92%;
}

.habCuadro
{
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    margin-bottom:1em;
    height: 51em;
    width: 19em;
}

.icon-signos-01:before {
    content: "\e600";
}

.icon-signos-02:before {
    content: "\e601";
}

.icon-signos-03:before {
    content: "\e602";
}

.icon-signos-04:before {
    content: "\e603";
}

.icon-signos-05:before {
    content: "\e604";
}

.icon-signos-06:before {
    content: "\e605";
}

.icon-signos-07:before {
    content: "\e606";
}

.imgForm
{
    width:49%;
}

.imgProyecto
{
    width:100%;
}

.ilustracion
{
    display: block;
    margin:0 auto;
    width: 77%;
}

.introCuadro, .perfilDatos
{
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	height: 19em;
	margin: 0 auto 1.5em auto;
	width: 19em;
}

.introCuadro
{
    filter: url('#grayscale'); /* Versi칩n SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es est치ndar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    transition:all .5s ease-in-out;
}

.introCuadro:hover
{
    filter: url('#grayscale'); /* Versi칩n SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%); /* Para cuando es est치ndar funcione en todos */
    filter: none; /* IE4-8 and 9 */
}

/*.introCuadro div
{
    background-color: rgba(0,0,0,.5);
    height: 4em;
    padding: .5em;
    width: 95%;
    vertical-align: bottom;
}

.introCuadro div a
{
    color:white;
    float: right;
    font-size: 4.4em;
    margin: -.35em 0 0 0;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
}

.introCuadro div a:hover
{
    color:#999;
    transform: rotate(90deg);
}

.introCuadro div h2
{
    color: white;
    float: left;
    font-size: .9em;
    letter-spacing: 0;
    margin: .3em 0 0 .3em;
    text-align: left;
    width: 60%;
}*/

.introCuadro form input, .introCuadro form textarea
{
    background-color:#d1d1d1;
    border: 1px solid #b3b3b3;
    border-radius: .9em;
    color: #666;
    font-family: 'sinkin_sans_regular';
    font-size: .8em;
    padding: .5em;
    width: 92%;
}

.introCuadro form input
{
    height: 91%;
    vertical-align: top;
}

.introCuadro form input[type="submit"]
{
    background-color: #aaaaaa;
    border: 1px solid #b3b3b3;
    box-shadow: 1px 2px 2px 0px rgba(50, 50, 50, 0.50);
    color: white;
    cursor: pointer;
    float: right;
    font-family: 'sinkin_sans_light';
    font-size: .7em;
    height: 143%;
    padding: .5em;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
    width: 41%;
}

form input[type="submit"]:hover
{
    background-color: #444;
}

.introCuadro form table
{
    margin:0 auto;
    width:80%;
}

.introCuadro form table td
{
    vertical-align: top;
}

.introCuadro form textarea
{
    height: 8em;
}

.introCuadro h2
{
    color: #747273;
    font-family: 'sinkin_sans_light';
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: -2px;
    margin:0 0 0 0;
    padding:0;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}

.introCuadro h2:hover
{
    color: #222;
}

.introIlustra
{
    display: block;
    margin:0 auto;
    width:84%;
}

.linea
{
    background-color: #aaa;
    height: 3em;
    margin: 0 auto;
    width:1px;
    clear: both;
}

.lineaDiv
{
    height: 3em;
    text-align: center;
    width: 19em;
}

.linkCertificado
{
    display:block;
    margin: 1em auto 0 auto;
    text-align: center;
    text-decoration: none;
    width:17em;
}

.linkCertificado img
{
    display:block;
    margin:0 auto;
    width:27%;
}

.linkCertificado span
{
    color:#888;
    display:block;
    font-size: .7em;
}

.perfilDatos
{
    margin: 0 auto;
}

.perfilDatos p
{
    color: #888;
}

.perfilDatos p strong
{
    color: #666;
    font-family: 'sinkin_sans_semibold';
}

.separador
{
    display:none;
}
@media screen and (min-width: 800px){
    footer
    {
        margin-top:1em;
    }

    header, .eduCuadro, .expCuadro, .habCuadro, .introCuadro, .perfilDatos 
    {
        display:inline-block;
        vertical-align: top;
        margin:.5em;
    }

    header img
    {
        margin-top: 6%;
    }

    nav #menuNav
    {
        display:inline;
        float: right;
    }

    nav #menuNav li
    {
        background-color: transparent;
        float:left;
        margin:0 1em;
    }
    #descripcion
    {
        height:19em;
        padding-bottom:0;
        width: 39.4em;
    }
    #menuExpand
    {
        display: none
    }

    .center
    {
        width:90%;
    }

    .circuloGris, .circuloVerde
    {
        height: 1.5em;
        margin:0 .7em;
        width: 1.5em;
    }
    
    .eduCuadro, .expCuadro, .habCuadro
    {
        margin:0;
        width:39.4em;
    }
    
    .eduCuadro
    {
        height:15em;
    }

    .habCuadro
    {
        height:55em
    }

    .ilustracion
    {
        width:40%;
    }
    
    .lineaDiv
    {
        width:39.4em;
    }

    .separador
    {
        color:white;
        display:inline;
    }
}

@media screen and (min-width: 1000px){
    h1
    {
        font-size: 2em;
        margin: 4.6em 0 0 6.2em;
    }
    header, .perfilDatos 
    {
        width:39.4em;
    }

    header img 
    {
        margin:0;
        width:60%;
    }

    #ace_dreamweaver img {
        margin-top: .7em;
        width: 29%;
    }
}

@media screen and (min-width: 1364px){
    .eduCuadro, .expCuadro, .habCuadro
    {
        height: 9em;
        width: 59.5em;
    }

    .eduCuadro{
        height:15em;
    }

    .habCuadro
    {
        height:55em
    }

    .lineaDiv
    {
        width:59.5em;
    }
    
}

@media screen and (min-width: 1400px){
    .perfilDatos
    {
        width: 19em;
    }
}

@media screen and (min-width: 1700px){
    .eduCuadro, .expCuadro, .habCuadro
    {
        width: 80em;
    }
    
    .lineaDiv
    {
        width:80em;
    }

    .perfilDatos
    {
        width:39.4em;
    }
}
